th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
            margin: 10px;
        }

        .table {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            border: 1px solid black;  border-collapse: collapse;
        }

        th {
            background-color: #56419d;
            color:#9fcff6;
        }

        img {
            height: 315px;
            float: right;
        }

        .centerr {
            text-align: center;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }

body{
    background-color: #fdc8da;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color:#0e3c61;
}
.links {
background-color: #56419d;
overflow: hidden;
float: none;
border-radius: 12px;
font-size: 12px;
}

.links a {
    float: left;
    color: #9fcff6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.links a:hover {
    background-color: #d5e7f7;
    color: black;
}

.links a.active {
    background-color: #9fcff6;
    color: #56419d;
}

.links a.active:hover {
    background-color: #d5e7f7;
    color: #56419d;
}

        .social-list a {
  text-decoration: none;
  color: #0066cc;
}

.copyright {
    text-align: center;
    font-size: 11px;
}