th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
            margin: 10px;
        }

        body {
            background-color: #DDDAD0;
            color: #5e5e5b;
            font-family: 'Courier New', Courier, monospace;
        }

        .table {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            border: 1px solid black;  border-collapse: collapse;
        }

        th {
            background-color: #9c9c94;
        }

        img {
            height: 315px;
            float: right;
        }

        .centerr {
            text-align: center;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }

        .links {
            background-color: #afafaf;
            overflow: hidden;
            float: none;
            border-radius: 12px;
        }

        .links a {
            float: left;
            color: #000000;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .links a:hover {
            background-color: #acacac;
            color: black;
        }

        .links a.active {
            background-color: #51645d;
            color: white;
        }

        .social-list a {
  text-decoration: none;
  color: #0066cc;
}

.copyright {
    text-align: center;
    font-size: 11px;
}